/*
* Kayla Hughes
* 4-12-19
* HTML Structure
*/
*{

}
/* Body attributes here */
body {

}
header {background-color:cornflowerblue;}
main {background-color:lightcoral;}
footer {background-color:paleturquoise;}